<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Estandar.Properties.Settings.BD_TESISConnectionString"
            connectionString="Data Source=.;Initial Catalog=BD_TESIS;Persist Security Info=True;User ID=sa;Password=sql"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>